<h2>Hello World</h2>
<p>
The time is now:<%= Time.now %>
</p>

<a href="../books">test link</a>
<p>sample video<p>
<iframe width="560" height="315" src="http://www.youtube.com/embed/Glny4jSciVI" frameborder="0" allowfullscreen></iframe>

<a href="../public_html/index.html">UIindex.html</a>
<a href="../public_html/video_page.html">UIindex.html</a>




